
body{
	
	background-image: url("img/background.jpg");
    background-color: #cccccc;
	size: relative;
	background-size: cover;
	
	
}


p{
	color: #cccccc;
	
}


.pheader {
	color: black;
	position: relative;
	margin: 0 auto;
	padding: 30px 30px 30px;
	width: width;
	background-color: black;
	border-radius: 5px;
	line-height: 25%;
	opacity: 0.4;
}

.whiteheader {
	color: white;
	font-stretch: 20%;
	text-align: center;
	font-size: 100px;
  	font-family: 'Play', sans-serif; 
}

.navheader {
	color: black;
	position: relative;
	margin: 0 auto;
	padding: 30px 30px 30px;
	width: width;
	background-color: mediumblue;
	border-radius: 5px;
}

.bottom {
	font-size: 15px;
	color: white;
	font-family: 'Play', sans-serif; 
	position: fixed; 
	bottom: 0; 
	width:100%; 
	text-align: center;
	padding: 30px 30px 30px;
	background-color: black;
	background-size: 5px;
	border-radius: 5px;
	opacity: 0.5;
}

.videoheader {
	position: relative;
	color: white;
	font-family: 'Play', sans-serif; 
	text-align: center;
	margin-right: 15px;
	margin-left: 15px;
	position: relative;
	margin: 0 auto;
	padding: 30px 30px 30px;
	width: width;
	background-color: mediumblue;
	border-radius: 5px;	
}
.textno{
	color: white;
	opacity: 1;
}

a:link {
    text-decoration: none;
	color: white;
	font-family: 'Play', sans-serif; 
}

a:visited {
    text-decoration: none;
	color: white;
	font-family: 'Play', sans-serif;
}

a:hover {
    text-decoration: none;
	color: white;
	font-family: 'Play', sans-serif;
}

a:active {
    text-decoration: none;
	color: white;
	font-family: 'Play', sans-serif;
}